<template>
  <v-card
    min-width="344"
    max-width="544"
    class="mx-auto"
  >
  <v-card-title>Connections List</v-card-title>

  <v-container fluid>
    <div class="connection-list">

    <v-row justify="center">
      <v-expansion-panels popout :focusable="focusable">
        <v-expansion-panel
          v-for="connectionItem in connectionItems"
          :key="connectionItem.id"
          hide-actions
        >

          <v-expansion-panel-header>
            <v-row
              align="center"
              class="spacer"
              no-gutters
            >

              <v-col
                cols="2"
                sm="2"
                md="2"
                align="left"
              >
                <v-avatar
                  color="red"
                >
                  <span class="white--text
                  headline"> {{ getInitials(connectionItem.to_user.first_name,
                  connectionItem.to_user.last_name) }}</span>
                </v-avatar>

              </v-col>
              <v-spacer> </v-spacer>
              <v-col
                cols="4"
                xs="6"
                sm="4"
                md="4"
                align="left"
              >
                <strong v-html="connectionItem.to_user.first_name"></strong>
                <strong v-html="connectionItem.to_user.last_name"></strong>
              </v-col>
              <v-spacer> </v-spacer>
              <v-col
                class="hidden-xs-only"
                cols="3"
                sm="2"
                md="2"
                align="left"
              >
                <strong v-html="connectionItem.to_user.username"></strong>
              </v-col>
              <v-spacer> </v-spacer>
              <v-col
                cols="3"
                sm="3"
                md="3"
                align="right"
              >
                <v-btn text color="grey" @click="getSelected(connectionItem.to_user.username)">
                <span>Select</span>
                <v-icon right color="blue">check_circle</v-icon>
                </v-btn>
              </v-col>

            </v-row>

          </v-expansion-panel-header>

          <v-expansion-panel-content>
            <v-divider></v-divider>
            <v-card-text>
              E-mail: {{ connectionItem.to_user.email }} <br>
              Created: {{ connectionItem.added }}
            </v-card-text>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-row>
    </div>

    <div>
          <v-row justify="center">

            <v-card-text>
              {{ selected }} <br>
            </v-card-text>
            </v-row>
    </div>
  </v-container>
        </v-card>
</template>

<script>

import { mapGetters } from 'vuex'

export default {
  name: 'ConnectionList',
  computed: {
    ...mapGetters([
      // map this.connectionItems to this.$store.getters.connectionItems
      'connectionItems'
    ])
  },
  created () {
    this.$store.dispatch('getConnectionItems')
  },
  data: () => ({
    selected: '',
    focusable: true
  }),
  methods: {
    getInitials: function (firstName, lastName) {
      var firstInitial = firstName.charAt(0)
      var lastInitial = lastName.charAt(0)
      var initials = firstInitial + lastInitial
      return initials
    },
    getSelected: function (username) {
      this.selected = 'SELECTED: ' + username
    }
  }
}
</script>
