<template>
  <nav>
      <v-toolbar dense>
        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
        <v-toolbar-title class="text-uppercase grey--text">
          <span class="font-weight-light">Vida</span>
          <span>App</span>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn text color="grey" @click.prevent="logout">
          <span>Logout</span>
          <v-icon right>exit_to_app</v-icon>
        </v-btn>
      </v-toolbar>

      <v-navigation-drawer
      v-model="drawer"
      absolute
      bottom
      temporary
      >
      <br>
      <v-avatar
        color="red"
      >
        <span class="white--text headline"> {{ this.$store.state.initials }} </span>
      </v-avatar>
      <p>
        <h3> <b> {{ first_name }} {{ last_name }} </b> </h3>
        Username: {{ username }}
        <br> <i>Practitioner</i>
      </p>

      <v-list nav dense>
        <v-list-item
          v-for="([icon, text, path], i) in items"
          :key="i"
          router :to="path"
        >
        <v-list-item-icon>
          <v-icon class="grey--text">{{ icon }}</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
            <v-list-item-title class="grey--text">{{ text }}</v-list-item-title>
        </v-list-item-content>
        </v-list-item>
      </v-list>
      </v-navigation-drawer>
  </nav>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      drawer: false,
      clipped: false,
      first_name: this.$store.state.authUser.first_name,
      last_name: this.$store.state.authUser.last_name,
      username: this.$store.state.authUser.username,
      items: [
        [
          'person', 'Profile', '/profile'
        ],
        [
          'group', 'Encounters', '/encounters'
        ],
        [
          'group_add', 'New Encounter', '/new_encounter'
        ]
      ]
    }
  },

  methods: {
    logout () {
      const auth = {
        headers: {Authorization: `Bearer ${this.$store.state.jwt}`,
          'Content-Type': 'application/json',
          'Access-Control-Allow-Origin': '*'
        },
        xhrFields: {
          withCredentials: true
        }
      }

      axios.post('http://127.0.0.1:8000/api/v1/rest-auth/logout/', auth)
        .then((response) => {
          this.$router.push({name: 'Login'})
        })
        .catch((error) => {
          console.log(error)
          console.debug(error)
          console.dir(error)
        })
    }
  }
}

</script>
