<template>
  <v-dialog v-model="dialog" persistent max-width="344px">
    <template v-slot:activator="{ on }">
      <v-btn large text color="grey" v-on="on">
        <span>New User</span>
        <v-icon right color="red">add_circle</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Invite New User</span>
      </v-card-title>
      <v-card-text>
        <br>
        <p align="left"> Enter the e-mail of the guest and a personal message below: </p>
        <br>
        <v-form>
          <v-text-field
            v-model="user.email"
            v-validate="'required|email'"
            :error-messages="errors.collect('email')"
            label="E-mail"
            data-vv-name="email"
            required>
          </v-text-field>
          <v-textarea
            v-model="user.message"
            v-validate="'max:140'"
            :counter="140"
            :error-messages="errors.collect('message')"
            label="Message (optional)"
            data-vv-name="message"
            required>
          </v-textarea>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-btn
          :loading="loading"
          :disabled="loading"
          @click="loader = 'loading'"
          @click.prevent="send_invitation"
          text color="grey"
          class="button"
          type="submit">
            Invite
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn text color="grey" @click="dialog =
          false">Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import NavBar from '@/components/NavBar'
import axios from 'axios'

export default {
  components: {NavBar},
  data () {
    return {
      loader: null,
      loading: false,
      user: {
        email: '',
        message: ''
      },
      submitted: false,
      dialog: false
    }
  },

  watch: {
    loader () {
      const l = this.loader
      this[l] = !this[l]
      setTimeout(() => (this[l] = false), 20000)
      this.loader = null
    }
  },

  methods: {
    send_invitation (e) {
      const data = {
        recipient_email: this.user.email,
        message: this.user.message,
        requested_relationship: '1'
      }
      const auth = {
        headers: {Authorization: `Bearer ${this.$store.state.jwt}`,
          'Content-Type': 'application/json',
          'Access-Control-Allow-Origin': '*'
        },
        xhrFields: {
          withCredentials: true
        }
      }

      axios.post('http://127.0.0.1:8000/api/v1/invitations/create/', data, auth)
        .then((response) => {
          if (response == undefined) {
            console.log('response is undefined')
          } else {
            this.$emit('invitationSent')
            this.loading = false
            console.log('response: ', response)
          }
        })
        .catch((error) => {
          this.$emit('invitationNotSent')
          this.loading = false
          console.log(error)
          console.debug(error)
          console.dir(error)
        })
    }
  }
}
</script>
