<template>
  <v-app>
    <NavBar />
    <v-snackbar
      v-model="snackbar"
      :color="color"
      :timeout="timeout"
      :top=true
    >
      {{ text }}
      <v-btn
        color="white"
        text
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
    <v-content>
      <v-container fluid fill-height>
        <v-layout row>
          <v-flex md6>
            <v-card color="white" height="100%">
            <h1>New encounter with:</h1>
            <NewConnection
              @invitationNotSent="snackbar=true, color='red', text='Invitation not sent.'"
              @invitationSent="snackbar=true, color='green', text='Invitation sent successfully.'" />
            <ConnectionsList />
            </v-card>
          </v-flex>

          <v-flex md6>
            <v-card color="blue-grey lighten-5" height="100%">
            <h1>When will the encounter be?</h1>

            <h1>At what time?</h1>

            <div class="my-2">
              <h1>Add encounter?
              <v-btn color="blue" fab large dark>
                <v-icon>add</v-icon>
              </v-btn>
              </h1>
            </div>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import NavBar from '@/components/NavBar'
import ConnectionsList from '@/components/ConnectionsList'
import NewConnection from '@/components/NewConnection'

export default {
  components: {NavBar, ConnectionsList, NewConnection},

  data () {
    return {
      snackbar: false,
      text: 'Invitation sent successfully.',
      timeout: 4000,
      color: 'green'
    }
  }

}
</script>
