<template>
<v-app>
<v-container>

      <v-snackbar
      v-model="snackbar"
      :color="color"
      :timeout="timeout"
      :top=true
    >
      {{ text }}
      <v-btn
        color="white"
        text
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>

    <v-content>
            <v-form @submit.prevent="handleSubmit">
                <v-card
                  min-width="244"
                  max-width="444"
                  class="mx-auto"
                >
                <v-toolbar
                  flat
                  dark>
                  <v-toolbar-title>{{ $t('register') }}</v-toolbar-title>
                  <v-spacer></v-spacer>
                </v-toolbar>

                <v-card-text>
                <v-text-field
                    v-model="user.username"
                    v-validate="'required|max: 15'"
                    :counter="15"
                    :error-messages="errors.collect('username')"
                    v-bind:label="$t('username')"
                    data-vv-name="username"
                    required
                    ></v-text-field>
                <v-text-field
                    v-model="user.email"
                    v-validate="'required|email'"
                    :error-messages="errors.collect('email')"
                    v-bind:label="$t('email')"
                    data-vv-name="email"
                    required
                    ></v-text-field>
                <v-text-field
                    v-model="user.password"
                    v-validate="'required: true|min: 8|verify_password'"
                    :error-messages="errors.collect('password')"
                    type="password"
                    v-bind:label="$t('password')"
                    data-vv-name="password"
                    required
                    ></v-text-field>
                <v-text-field
                    v-model="user.confirmPassword"
                    v-validate="{required : true, confirmed: user.password}"
                    :error-messages="errors.collect('confirmPassword')"
                    type="password"
                    v-bind:label="$t('confirmpassword')"
                    data-vv-name="password"
                    required
                    ></v-text-field>
                </v-card-text>
                    <v-card-actions >
                    <v-btn text
                    :loading="loading"
                    @click="loader = 'loading'"
                    :disabled= "errors.any() ||isDisabled"
                    type="submit">
                    {{ $t('save') }}
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn text>
                    <router-link to="/" class="btn btn-link">{{ $t('cancel') }}</router-link>
                    </v-btn>
                    </v-card-actions>
                    </v-card>
            </v-form>
    </v-content>
</v-container>
</v-app>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      user: {
        username: '',
        email: '',
        password: '',
        confirmPassword: ''
      },
      submitted: false,
      snackbar: false,
      text: '',
      timeout: 6000,
      color: '',
      loader: null,
      loading: false,
      push: false
    }
  },

  watch: {
    loader () {
      const l = this.loader
      this[l] = !this[l]
      setTimeout(() => (this[l] = false), 5000)
      this.loader = null
    }
  },

  computed: {
    isDisabled () {
      return !this.user.username || !this.user.email || !this.user.password || !this.user.confirmPassword
    }
  },

  methods: {
    handleSubmit (e) {
      const data = {
        username: this.user.username,
        email: this.user.email,
        password1: this.user.password,
        password2: this.user.confirmPassword
      }

      axios.post('http://127.0.0.1:8000/api/v1/rest-auth/registration/', data)
        .then((result) => {
          if (result == undefined) {
            console.log('response is undefined')
          } else {
            this.text = 'User registered successfully. A verification email has been sent.'
            this.color = 'green'
            this.timeout = 4000
            this.snackbar = true
            this.loading = false

            //  TODO: add redirection to login.
            //  this.$router.push({name: 'Login'})
          }
        })
        .catch((error) => {
          if (error.request.status == 400) {
            var usernameError = String(error.response.data.username)
            var emailError = String(error.response.data.email)

            if (usernameError == 'undefined') {
              this.text = emailError
            } else if (emailError == 'undefined') {
              this.text = usernameError
            } else {
              this.text = usernameError + ' ' + emailError
            }
          } else {
            this.text = error.request.statusText
          }

          this.color = 'red'
          this.timeout = 8000
          this.snackbar = true
          this.loading = false

          console.log(error)
          console.debug(error)
          console.dir(error)
        })
    }
  }
}

</script>

<style>
.btn-default {
    background-color: #e32726;
    color: rgb(242, 241, 245);
    border-color:#b4111a;
}
.btn-link {
    color: #b4111a;
}
.btn-link:hover {
    color: rgb(173, 16, 16);
}
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    background-color: #e32726;
    color: #b4111a;
    border-color: #b4111a;
}
</style>
