<template>
  <v-snackbar
    v-model="snackbar"
    :color="color"
    :timeout="timeout"
    :top=true
  >
    {{ text }}
    <v-btn
      color="white"
      text
      @click="snackbar = false"
    >
      Close
    </v-btn>
  </v-snackbar>
</template>

<script>

export default {

  data () {
    return {
      snackbar: true,
      text: 'Invitation sent successfully.',
      timeout: 4000,
      color: 'green'
    }
  }
}
</script>
