<template>
  <div id="app">
    <router-view/>
    <div>    
      <button-flag v-for="entry in languages" :key="entry.title" @click="changeLocale(entry.language)">        
      <flag :iso="entry.flag" v-bind:squared=false /> {{entry.title}}</button-flag>
    </div>
    <v-footer padless>
    <v-col
      class="text-center"
      cols="12"
    >
    {{ new Date().getFullYear() }} — <strong>Venemergencia</strong>
    </v-col>
    </v-footer>
  </div>
</template>

<script>
export default {
  name: 'App',
  data() {    
    return {
      languages: [
        { flag: 'us', language: 'en' },
        { flag: 've', language: 'es' }        
      ]    
    }
  },
  methods: {
    changeLocale(locale) {
      this.$i18n.locale = locale;    
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0;
}
button-flag {
  padding: 15px;
  border: 1px solid rgb(48, 197, 48)))));
  font-size: 18px;
  margin: 15px;}
</style>
